.click-group {
    margin: 30px 295px 0px;
    text-align: center;

    img.click {
        padding: 20px;
        height: 235px;
        margin: auto;
        display: block;
        cursor: pointer;
    }

    .arrow {
        img {
            width: 20px;
        }
    }
}

.description {
    padding: 0px 100px 30px;

    .arrow {
        img {
            width: 20px;
        }
    }

    .text-box {
        outline: solid 1px white;
        outline-offset: 1px;
        padding: 20px;

        .close {
            float: right;
            margin-top: -5px;
            cursor: pointer;

            img {
                height: 30px;
            }
        }
    }
}

