<section class="title">
  <div class="content">
    <div class="text">
        <img src="..\assets\img\nlc-logo-green.jpg">
        <h1>New Living Church</h1>
        <div class="grid-x">
          <div class="small-6 cell location">
            <span>36 Broadlands Blvd <br/> North York <br/> ON M3A 1J3</span>
          </div>
          <div class="small-6 cell">
            <span>Sundays <br/> 2:30PM (Indonesian Service) <br/> 4:00PM (English Service) </span>
          </div>
        </div>
    </div>
    
  </div>
</section>
<section class="service-location">
  <div class="content">
    <div class="text">
      <span class="big">
        Everyone is welcome in our church.<br/>
        Join us this Sunday!
      </span>
      <span class="small">Need a ride? Connect with us.</span>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.3467654099145!2d-79.32539348449927!3d43.74489537911833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cd88903938e1%3A0xa4308fc8144c8ed3!2s36+Broadlands+Blvd%2C+North+York%2C+ON+M3A+1J3!5e0!3m2!1sen!2sca!4v1515719147534" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe> 
    </div>
  </div>
</section>
<section class="about-us">
  <div class="content row">
    <h1>About Us</h1>
    <app-about-us-popup></app-about-us-popup>
  </div>
</section>
<section class="connect">
  <div></div>
</section>