.text {
    background: WHITESMOKE;
    font-family: 'Fjalla One', sans-serif;
    height: 100%;

    span {
        padding-top: 55px;
        font-size: 35px;
        color: #2e5266;
        text-shadow: 1px 1px 15px #fff;
        display: block;
        text-align: center;
    }

    .small {
        padding-top: 5px;
        font-size: 18px;
        font-family: 'Didact Gothic';
        padding-bottom: 55px;
    }

    .medium {
        font-size: 25px;
        font-family: 'Didact Gothic';
    }
}

.title {
    background: url('../assets/img/grayscale-sermon.jpg') fixed no-repeat;
    height: 750px;
    width: auto;
    background-size: cover;

    .content {
        height: 100%;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 65px;
            font-family: 'Crete Round', serif;
        }

        .title-text {
            font-family: 'Didact Gothic', serif;
            font-size: 20px;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 1px 1px 15px #000;

            .location {
                border-right: solid 3px;
            }
        }
    }
}

.service-location {
    height: 700px;
    background-color: white;
    text-align: center;

    .content {
        height: 100%;
    }
}

.gallery-1 {
    background-color: rgba(228, 235, 208, 0.945);
    padding-bottom: 70px;

    .text {
        background-color: rgba(228, 235, 208, 0.945);
        padding: 0px 200px;

        .big {
            padding-bottom: 15px;
        }
    }

    .grid-x {
        // padding: 10px 200px;
        width: 75%;
        margin: auto;
        padding: 10px;
        background-color: rgba(228, 235, 208, 0.945);

        .small-6 {
            height: 300px;
            padding-right: 20px;
            overflow: hidden;
        }
    }
}

.about-us {
    background-color: WHITESMOKE;
    
    .text {
        background-color: WHITESMOKE;

        .clickable {
            padding: 50px;
            border: solid 1.5px #2e5266;
            font-weight: bold;
        }
    }
}

.gallery{
    height: 600px;
    background: url('../assets/img/worship-grayscale-crop.jpg') no-repeat;
}

.actions {
    height: 400px;
    background: hsl(0, 0%, 26%);
    color: white;

    .grid-x {
        width: 70%;
        margin: auto;
        
    }
}



