

.text {
    background: #ededed;
    font-family: 'Fjalla One', sans-serif;
    height: 100%;

    span {
        padding-top: 55px;
        font-size: 35px;
        color: #555D60;
        text-shadow: 1px 1px 15px #fff;
        display: block;
        text-align: center;
    }

    .small {
        padding-top: 5px;
        font-size: 18px;
        font-family: 'Didact Gothic';
        padding-bottom: 55px;
    }

    .medium {
        font-size: 25px;
        font-family: 'Didact Gothic';
    }
}

.title {
    background: url('../assets/img/grayscale-sermon.jpg') fixed no-repeat;
    height: 750px;
    width: auto;
    background-size: cover;

    .content {
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 65px;
            font-family: 'Crete Round', serif;
        }

        .title-text {
            font-family: 'Didact Gothic', serif;
            font-size: 20px;
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-shadow: 1px 1px 15px #000;

            .location {
                border-right: solid 3px;
            }

            .grid-x {
                width: 50%;
                margin: auto;
            }
        }
    }
}

.service-location {
    height: 797px;
    background-color: white;
    text-align: center;

    .content {
        height: 100%;
    }
}

.gallery-1 {
    background-color: #ededed;
    padding-bottom: 70px;

    .text {
        background-color: none;
        padding: 0px 200px;

        .big {
            padding-bottom: 15px;
        }
    }

    .grid-x {
        // padding: 10px 200px;
        width: 75%;
        margin: auto;
        padding: 10px;

        .small-6 {
            height: 300px;
            padding-right: 20px;
            overflow: hidden;
        }
    }
}


.about-us {
    background-color: WHITESMOKE;
    
    .text {
        background-color: WHITESMOKE;

        .clickable {
            padding: 50px;
            border: solid 1.5px #2e5266;
            font-weight: bold;
        }
    }
}

.sermon {
    height: 315px;
    background: #424242;
    color: white;

    .text {
        background: none;

        .big, .small {
            color: white;
            text-shadow: none;
        }

        .small {
            padding-bottom: 35px;
        }

        .action-box {
            width: 30%;
            text-align: center;
            outline: solid 3px;
            padding: 20px;
            margin: auto;
            cursor: pointer;

            a {
                color: white;
            }

            &:hover {
                background: white;
                opacity: 0.75;
                a {
                    color: #424242;
                    text-decoration: underline;
                }
            }
        }
    }
}

.gallery{
    height: 600px;
    background: url('../assets/img/worship-grayscale-crop.jpg') no-repeat;
}


.connect {
    height: 315px;
    background: #424242;
    color: white;

    .text {
        background: none;

        .big, .small {
            color: white;
            text-shadow: none;
        }

        .small {
            padding-bottom: 35px;
        }

        .action-box {
            width: 30%;
            text-align: center;
            outline: solid 3px;
            padding: 20px;
            margin: auto;

            a {
                color: white;
                cursor: default;
            }
        }
    }
}

.footer {
    height: 200px;
    padding: 50px;
    background: black;

    .text {
        background: none;
        color: white;
        text-align: center;

        .small {
            color: white;
            text-shadow: none;
            padding: 0px;
        }

        h3 {
            font-family: 'Crete Round', Serif;
            margin: 0px;
        }
    }
}



